/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [id_usuario]
      ,[email_usuario]
      ,[nm_usuario]
      ,[pw_usuario]
      ,[home_usuario]
      ,[foto_usuario]
      ,[dt_nascimento]
      ,[cel_usuario]
      ,[tel_usuario]
      ,[ramal_usuario]
      ,[status]
      ,[nomecompleto_usuario]
      ,[cdGrupoVenda]
      ,[Id_Supervisor]
      ,[matricula]
      ,[id_cargahora]
      ,[filial]
      ,[usuarioad]
      ,[VocalixAgenteID]
  FROM [Manager2003-TESTE].[dbo].[Usuarios]
  
  SELECT DISTINCT(UPPER(SUBSTRING([nm_usuario],1,1))) AS [c] FROM [Manager2003-TESTE].[dbo].[Usuarios]